*
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: maroon;
    line-height: 1.6;
    /* margin: 10px;
    padding: 20px; */
}

img {
    display: flex;
    width: 100%;
    height: auto;
}

h1 {
  color: whitesmoke;
}

h1, h2 {
    font-size: 5em;
    padding: 20px;
    text-align: center;
 }

 h3 {
   font-size: 2em;
   padding: 10px;
   text-align: left;
 }

 p {
   font-size: 1em;
   text-align: right;
 }

/* Default link style */
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

/* Unvisited link */
a:link {
  color: navy;
}

/* Visited link */
a:visited {
  color: purple;
}

/* Hover effect */
a:hover {
  color: orangered;
  text-decoration: underline;
}

/* Active (clicked) link */
a:active {
  color: orange;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.recipes-card, .recipes-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    border: 2px solid darkgray;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.recipes-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    text-align: center;
}

.recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding: 20px;
    margin: 10px;
}

.recipes-container ul {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* justify-self: left; */
}

.recipes-container ul li {
  list-style: none;
}

.recipes-container ol {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
} 
.image {
    display: flex;
    background-color: yellow;
    height: auto;
}

.image-recipes {
    display: flex;
    align-self: center; 
    justify-self: center;
    width: 75%;
    padding: 5px;
    background-color: maroon;
    border-radius: 10px;
}

.container {
    display: inline-block;
    background-color: maroon;
    vertical-align: top;
    text-align: center;
}
