* 
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0%;
    padding: 0%;
}

.recipes-card {
    display: inline-block;
    padding: 10px;
}

.image {
    background-color: antiquewhite;
    border: 5px dotted darkred;    
    height: 500px;
}

.content {
    border: 2px solid lightpink;
    background-color: antiquewhite;
}

h1, li {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2em;
    background-color: antiquewhite;
    color: darkred;
    padding: 20px
 }

li {
    list-style: none;
}



/* Default link style */
a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

/* Unvisited link */
a:link {
  color: navy;
}

/* Visited link */
a:visited {
  color: purple;
}

/* Hover effect */
a:hover {
  color: orangered;
  text-decoration: underline;
}

/* Active (clicked) link */
a:active {
  color: orange;
}